{
  "presets": ["es2015", "stage-0", "react"],
  "env": {
    "production": {
      "plugins": [
        [
          "css-modules-transform", {
          "preprocessCss": "./internals/css-modules-transform.js",
          "generateScopedName": "[name]_[local]_[hash:base64:5]",
          "extensions": [".scss"]
        }
        ]
      ],
      "ignore": ["./internals/css-modules-transform.js"]
    }
  }
}
