{
  "presets": ["es2015", "stage-0", "react"],
  "env": {
    "production": {
      "plugins": [
        [
          "css-modules-transform", {
          "preprocessCss": "./internals/css-modules-transform.js",
          "extensions": [".scss"],
          "extractCss": "./dist/blacksmith.min.css"
        }
        ]
      ],
      "ignore": ["./internals/css-modules-transform.js"]
    }
  }
}
